:root {
  --blue: #1e90ff;
  --gold: rgb(219, 172, 51);
  --background: #15171b;
  --dark: 140c0c;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  background-color: #140c0c;
  align-items: center;
  justify-content: center;
  color: rgb(193, 159, 72);
  width: fit-content;
}

h1,
h2,
h3,
h4 {
  font-family: Montserrat, sans-serif;
  color: rgb(193, 159, 72);
  margin-bottom: 20px;
}

a {
  color: rgb(193, 159, 72);
}

p {
  color: #ffff;
}

ul {
  color: #ffff;
}

.wrapper-banner.min {
}

.banner {
  position: absolute;
  bottom: 51%;
  display: inline-block;
  height: 272px;
  background-color: #020001;
}

.wrapper-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-description {
  padding: 1rem;
  padding-right: 0rem;
  padding-top: 0rem;
}
.header-image img {
  display: block;
  object-fit: cover;
}

.header-image-container {
  width: 100%;
  height: 100vh; /* Adjust this as needed */
  min-height: 450px;
  overflow: hidden;
}

.header-text {
  position: absolute;
  top: 89%;
  left: 80%;
  width: 23rem;
  transform: translate(-50%, -50%);
  color: #ffff;
  font-size: x-large;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.logo-holder-1 {
  background-image: url("./assets/logo/logo-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  width: 100%;
  height: 100%;
}

.header-image {
  background-image: url("./assets/logo/logo-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
  width: 100%;
  height: 100vh; /* or a specific height */
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.logo {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Set initial width to 100% of the parent container */
  height: auto;
}

.title {
  padding-top: 2rem;
  font-size: xxx-large;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  margin-bottom: -2rem;
}
header {
  justify-content: center;
}
article {
  display: inline-block;
}
ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
a {
  text-decoration: none;
}

.logo-holder {
  position: absolute;
  background-color: #020001;
  top: 6.5rem;
  left: 6.3rem;
}

.logo-holder {
  display: block;
}
/* FC conetnt studio Logo styles */
.logo-container {
  /* padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; */
}

.border {
  border: 5px solid var(--gold);
  height: 17%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  width: 55%;
}

.logo-text {
  position: relative;
}

.logo-title {
  font-family: Poppins, Montserrat, sans-serif;
  color: var(--gold);
  font-size: 5rem;
  font-weight: 600;
  display: inline-block;
  background-color: #020001;
  padding-bottom: 3px;
}

hr {
  display: block;
  width: 5.5rem;
  border: 0;
  border-top: 1px solid var(--gold);
  padding: 0;
}

hr.divider {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 2rem auto 2rem;
}

.sub-text {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: max-content;
  font-size: xx-large;
  position: relative;
  left: 2rem;
}

.subtitle {
  display: inline-block;
  background-color: #020001;
  font-family: Roboto, sans-serif;
  padding-bottom: 5px;
}

.profile-img {
  width: 95%;
  height: auto;
  max-height: 86%;
  object-fit: cover;
  object-position: top;
}

.profile-img img {
  /* Make the image responsive */
  width: 45%;
  height: auto;
  display: block;
}

.logo-banner {
  font-family: Roboto, sans-serif;
  max-width: 100%;
  height: auto;
}

.founders {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
}

.description-container {
  line-height: 1.5;
  margin-top: -1rem;
  background-color: rgb(25 23 23 / 50%);
}

.description-container h2 {
  color: #ffff;
}

.nowrap {
  display: flex;
  flex-wrap: nowrap;
  font-size: medium;
}

.mobile {
  display: none;
}

.container-services {
  display: flex;
  min-height: 40rem;
}

.container-services img {
  flex-grow: 1; /* Take up all available space within the flex container */
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
  height: auto; /* Maintain the image's aspect ratio */
  background-size: contain;
}
/* Large devices (desktops, laptops) */
/* Our services */
.service-description {
  max-width: 50%;
  margin: 4rem;
  margin-top: 0;
}

.list-style {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
}

.contact-us-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.contact-us-container img {
  width: 300px;
  height: 200px;
}

input {
  width: 15rem;
  height: 17px;
}

.flex-col {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  width: 450px;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.company-profile-container {
  display: flex;
  gap: 1rem;
}

.company-profile-image {
  position: fixed;
  background-image: url("./assets//images/dishes.JPG");
  background-size: contain;
  background-position: center;
  top: 35px;
  width: 100%;
  height: 55vh;
  z-index:-88;
  margin-top: 2rem;
}

.company-profile-description {
  width: 100%;
  background-color: var(--background);
  line-height: 1.5;
  padding-top: 7rem;
  min-height: 18rem;
}

.parallax {
  perspective: 1px;
  color: white;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}

.background-color {
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
  background-color: #15171b;
}

@media (max-width: 768px) {
  .wrapper-banner.min {
    width: 100%;
    background-color: black; /* or any other color you prefer */
  }
}

/* Medium devices (tablets) */
@media (max-width: 1024px) {
  .containerb {
    padding-right: 0;
    padding-left: 0;
  }
  .header-text {
    left: 50%;
  }
  .founders {
    grid-template-columns: repeat(2, 1fr);
  }
  .container-services {
    display: block;
    position: relative;
  }
  .service-description {
    display: contents;
    position: absolute;
    top: 0;
    width: 100%;
    max-width: none;
    margin: 0;
    line-height: 1.5;
    background-color: rgb(25 23 23 / 60%);
  }
}

.company-profile-container {
  min-height: 80vh;
  flex-direction: column;
}
.company-profile-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.header-image {
  height: 50vh;
  width: 100%;
}
/* } */

/* Small devices (phones) */
@media (max-width: 700px) {
 
  .mobile {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  .container {
    padding-right: 0;
    padding-left: 0;
  }
  /* //small change÷ */
  .logo-container {
    max-width: 436px; /* Reduce the width at smaller screen sizes */
  }
  .logo-holder {
    left: 3.3rem;
  }
  .border {
    width: 50%; /* Adjust the width of the border */
  }
  .logo-title {
    font-size: 4rem; /* Adjust the font size of the title */
  }
  .subtitle {
    font-size: x-large; /* Adjust the font size of the subtitle */
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -16rem;
  }
  .description-container {
    background-color: rgb(25 23 23 / 50%);
  }
  .founders {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  @media (max-width: 670px) {
    .header-image-container {
      height: fit-content;
    }
    .header-text {
      top: 50%;
    }
    /* //small change÷ */
    .logo-container {
      max-width: auto; /* Reduce the width at smaller screen sizes */
    }
    .logo-holder {
      position: absolute;
      background-color: #020001;
      bottom: 37.5rem;
      left: 10px;
    }

    .header-text {
      left: 50%;
    }

    .border {
      width: 50%; /* Adjust the width of the border */
    }
    .logo-title {
      font-size: 2rem; /* Adjust the font size of the title */
    }
    .subtitle {
      font-size: large; /* Adjust the font size of the subtitle */
    }
    .sub-text {
      display: flex;
      flex-direction: column;
    }

    .list-style {
      margin-left: -20px;
      margin-right: 15px;
    }
  }
}
