

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  background-color: #140c0c;
  align-items: center;
  justify-content: center;
  color: rgb(193,159,72);

}

h1,
h2,
h3,
h4 {
  font-family: Montserrat, sans-serif;
  color: rgb(193,159,72);
  margin-bottom: 20px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;

}

.logo {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

header {
  justify-content: center;
}
article {
  display: inline-block;
}
ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

/* Large devices (desktops, laptops) */


/* Medium devices (tablets) */
@media (max-width: 1024px) {
  } 
/* } */

/* Small devices (phones) */
@media (max-width: 400px) {
  img {
    width: 300px;
    height: 200px;;
  }
}
